div {
    border: 1px solid #aaa;
}
.main-page .block-page{
    height: 500px;
}
.main-page .main-block {
    height: 450px;
}
.main-page .email-block div{
    height: 50px;
}
.input-block {
    height: 450px;
}
.input-block input {
    margin-top: 26px;
}
.input-block input:first-child {
    margin-top: 40px;
}
.email-block div {
    width: 250px;
    padding: 5px;
    margin: auto;
}
.right-block-page .download  {
    width: 100px;
    padding: 5px;
    margin: 30px auto;
}
.right-block-page .background div{
    width: 120px;
    margin: 20px auto;
    height: 120px;
}
.right-block-page {
    position: absolute;
    left: 76%;
}
.left-block-page {
    position: fixed;
}
.card {
    width: 500px;
    height: 400px;
    margin: 25px auto;
}